# CODEOWNERS file - defines who is responsible for code in this repository
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
* @shashank261
